<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kmsp.djqs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Android Q之后，后台定位需要申请该权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--    <uses-permission android:name="android.permission.READ_SMS" />-->
    <!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:name=".DJApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="顺单侠"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label,android:allowBackup">
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <service-->
        <!--            android:name=".MyHuaweiPlatformsService"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->
        <meta-data
            android:name="TencentMapSDK"
            android:value="3AMBZ-U5U6J-ZLDFX-XHX4V-5G45V-EEBFS" />

        <service
            android:name="com.tencent.map.geolocation.s"
            android:foregroundServiceType="location" />
        <service
            android:name="com.dexterous.flutterlocalnotifications.ForegroundService"
            android:exported="false"
            android:stopWithTask="false" />

        <service android:name="com.amap.api.location.APSService"></service>

        <!--        <receiver android:name="com.shounakmulay.telephony.sms.IncomingSmsReceiver"-->
        <!--            android:permission="android.permission.BROADCAST_SMS" android:exported="true">-->
        <!--            <intent-filter android:priority="1000">-->
        <!--                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

                <provider
                    android:name="sk.fourq.otaupdate.OtaUpdateFileProvider"
                    android:authorities="${applicationId}.ota_update_provider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/filepaths" />
                </provider>

    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <!--        <intent>-->
        <!--            <action android:name="com.huawei.hms.core.aidlservice" />-->
        <!--        </intent>-->
    </queries>
</manifest>
